body{
	margin: 0;
	overflow: hidden;
}


.header{
	margin:0;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 10px;
	background: white;
	line-height: 100%;
}

#line-ht{
	line-height: 200%;
}

.right{
	float: right;
}

#one0one{
	color: #929497;
	height: 20px;
	cursor: pointer;
}

#spc{
	padding-right: 20px;
	height: 20px;
}

#teamLogin{
	float: right;
	color: #929497;
	cursor: pointer;
	height:20px;
}

#crownLogo{
	float: left;
	height: 20px;
}

.space{
	margin-left: auto;
	margin-right: auto;
	display: block;
	position: absolute;
}

#iPhone-screen{
	-webkit-transform: scale(.65);
	-moz-transform: scale(.28);

}

#rightArrow{
	position: absolute;
	left:286px;
	top:412px;
	cursor: pointer;
	-webkit-transform: scale(.29);
	-moz-transform: scale(.28);
}

#leftArrow{
	position: absolute;
	left:94px;
	top:413px;
	cursor: pointer;
	display: none;
	-webkit-transform: scale(.28);
	-moz-transform: scale(.28);
}



#slide1{
	display: inline-block;

}
#slide2{
	display: none;
}
#slide3{
	display: none;
}
#slide4{
	display:none;
}
#slide5{
	display: none;
	cursor: pointer;
}

.iPhone-screen{
	-webkit-transform: scale(.65);
	-moz-transform: scale(.65);
}

#loginTab{
	display: none;
}

#one01Tab{
	display: none;

}

#slideWrapper{
	position: fixed;
	height: 840px;
  	top: 50%;
  	left: 50%;
  	margin-top: -420px;
  	margin-left: -200px;
  	height: auto;
  	width: auto;
}


